/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
    }

    header {
        background-color:  #e92a20;
        padding:10px;
        font-size: 24px;
        display: block;
        width: 790px;
    }
    nav {
        line-height:;
        background-color:  #30e920;
        width:225px;
        height: 100%;
        display: inline-block;
        vertical-align:  top;
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color: ;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        text-align:;
        padding:5px;
        display: block;
    }
